<table class = "table">
  <tr>
    <th class = "d-flex justify-content-center">
      <%= image_tag user.get_icon, size: "100x100", class: "mt-3 rounded-circle" %>
    </th>
  </tr>
  <tr>
    <th>名前</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>紹介</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>Follow数</th>
    <th><%= link_to "0" %></th>
  </tr>
  <tr>
    <th>Follower数</th>
    <th><%= link_to "0" %></th>
  </tr>
  <tr>
  <% if current_user != user  %>
    <th>
      <%= render "relationships/btn", user: user %>
      <%= link_to user_path(user) do %>
        <button type = "button" class = "btn btn-light">この人の目標一覧を見る</button>
      <% end %>
    </th>
  <% else %>
    <th>
      <%= link_to edit_user_path(user) do %>
        <button type = "button" class = "btn btn-secondary btn-lg">編集</button>
      <% end %>
    </th>
    <th>
      <%= link_to new_target_path do %>
        <button type = "button" class = "btn btn-warning btn-lg">目標を追加する</button>
      <% end %>
    </th>
  <% end %>
  </tr>
</table>