<!DOCTYPE html>
<html>
  <head>
    <title>StampingLife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class= "px-3 py-2 bg-warning text-white">
        <div class = "container">
          <div class = "d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <%= link_to root_path, class: "text-light" do %>
              <%= image_tag 'stampinglife.PNG', size: '150x80' %>
            <% end %>
            <% if user_signed_in? %>
              <ul class = "nav col-12 col-lg-auto my-2 my-md-0 text-small">
                <li>
                  <%= link_to "HOME", root_path, class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to "マイページ", user_path(current_user), class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to "Targets", targets_path, class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to "Stamping", class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link text-light" %>
                </li>
              </ul>
            <% else %>
              <ul class = "nav col-12 col-lg-auto my-2 my-md-0 text-small">
                <li>
                  <%= link_to "HOME", root_path, class: "nav-link text-light"%>
                </li>
                <li>
                  <%= link_to "使い方", about_path, class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-light" %>
                </li>
                <li>
                  <%= link_to "Log in", new_user_session_path, class: "nav-link text-light" %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class = "footer bg-warning">
      <div class = "d-flex justify-content-center">
        <%= image_tag 'stampinglife.PNG', size: '140x70' %>
      </div>
      <div class = "text-center text-light">
        <p>
          <strong>motohasiryuuto︎ STAMPING LIFE®︎ ALL Right. </strong>
        </p>
      </div>
    </footer>
  </body>
</html>
