<!DOCTYPE html>
<html>
  <head>
    <title>StampingLife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="px-3 py-2 bg-warning text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
            <%= link_to root_path, class: "d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white" do %>
              STAMPING LIFE
            <% end %>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <% if user_signed_in? %>
                <li>
                  <%= link_to root_path, class: "nav-link text-light" do %>
                    <i class="fas fa-home fa-2x bi d-block mx-auto"></i>
                    HOME
                  <% end %>
                </li>
                <li>
                  <%= link_to user_path(current_user), class: "nav-link text-light" do %>
                    <i class="fas fa-user-circle fa-2x bi d-block mx-auto"></i>
                    MY PAGE
                  <% end %>
                </li>
                <li>
                  <%= link_to targets_path, class: "nav-link text-light" do %>
                    <i class="fas fa-users fa-2x bi d-block mx-auto"></i>
                    TARGETS
                  <% end %>
                </li>
                <li>
                  <%= link_to time_stamps_path, class: "nav-link text-light" do %>
                    <i class="fas fa-clock fa-2x bi d-block mx-auto"></i>
                    STAMPING
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
                    <i class="fas fa-sign-in-alt fa-2x bi d-block mx-auto"></i>
                    LOG-OUT
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to root_path, class: "nav-link text-light" do %>
                   <i class="fas fa-home fa-2x bi d-block mx-auto"></i>
                   HOME
                  <% end %>
                </li>
                <li>
                  <%= link_to about_path, class: "nav-link text-light" do %>
                    <i class="fas fa-question fa-2x bi d-block mx-auto"></i>
                    使い方
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
                    <i class="fas fa-plus-circle fa-2x bi d-block mx-auto"></i>
                    新規登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path, class: "nav-link text-light" do %>
                    <i class="fas fa-sign-in-alt fa-2x bi d-block mx-auto"></i>
                    LOG-IN
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main>
      <% if flash[:notice] %>
        <div class="alert alert-success text-align-center" role="alert">
          <p id = "notice"><%= notice %></p>
        </div>
      <% end %>

      <%= yield %>
    </main>
    <footer class = "footer bg-warning">
      <div class = "d-flex justify-content-center">
        STAMPING LIFE
      </div>
      <div class = "text-center text-light">
        <p>
          <strong>motohasiryuuto︎ STAMPING LIFE®︎ ALL Right. </strong>
        </p>
      </div>
    </footer>
  </body>
</html>
